<div class="box box-primary animated slideInRight">
	<div class="box-header">
		<h3 class="box-title">{{'title.files' | translate}}</h3>
	</div>	

	<div class="box-body" ng-cloak>
	
        <div class="row">
        	<div class="col-sm-12">
        		<div class="form-group">
			        <button ng-click="refresh();" type="button" class="btn btn-primary">
			            <i class="fa fa-refresh"></i>&nbsp;{{'common.reloadData' | translate}}
			        </button>
			        <button ng-click="upload();" type="button" class="btn btn-primary">
			        	<i class="fa fa-upload"></i> {{'common.upload' | translate}}
			        </button>
			     </div>
		    </div>
	    </div>
	
 		<div class="row">
        	<div class="col-sm-12">
		    	<table datatable="" id="modal-table" class="table table-bordered table-striped" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" dt-instance="$ctrl.dtInstance">
		    	</table>
		    </div>
	    </div>
	</div>
</div>
